[user]
	name = Alessandro Cifani
	email = alessandro.cifani@gmail.com

[core]
	pager = delta
	excludesfile = ~/.gitignore_global

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = true

[log]
	abbrevCommit = true
	decorate = true

[commit]
	gpgsign = true

[fetch]
	prune = true

[alias]
	co = checkout
	cob = checkout -b
	ls = log --oneline --decorate -10
	ld = log --oneline --decorate --date=relative
	s = status -s
	st = status -sb
	d = diff
	dc = diff --cached
	dw = diff --word-diff
	c = commit
	cam = commit -am
	cm = commit -m
	a = add
	ap = add -p
	p = push
	pob = git push origin HEAD
	pf = push --force-with-lease
	b = branch
	sync = fetch --prune
	uncommit = reset HEAD^
	undo = reset HEAD~1 --mixed
	amend = commit --amend
	bclean = "!git checkout master && git sync && git pull && git branch -d $(git branch --merged | grep master -v)"
	cleanbranches = "!git checkout -q master && git for-each-ref refs/heads/ '--format=%(refname:short)' | while read branch; do mergeBase=$(git merge-base master $branch) && [[ $(git cherry master $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == "-"* ]] && git branch -D $branch; done"
	wip = "!git add . && git commit -am ""WIP"""
	unwip = reset HEAD^
	fix = commit --fixup
	rom = rebase origin/master
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
	dft = difftool

[interactive]
  diffFilter = delta --color-only

[add.interactive]
  useBuiltin = false # required for git 2.37.0

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
  tool = difftastic

[pager]
	difftool = true

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
