prompt_order = [
    "username",
    "hostname",
    "directory",
    "git_branch",
    "git_state",
    "git_status",
    "nix_shell",
    "kubernetes",
    "memory_usage",
    "env_var",
    "cmd_duration",
    "line_break",
    "jobs",
    "battery",
    "time",
    "character",
]

[character]
symbol = "λ"

[aws]
disabled = true

[golang]
disabled = true

[nodejs]
disabled = true

[package]
disabled = true

[python]
disabled = true

[kubernetes]
disabled = true
symbol = "☸️ "
